/* Font: Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600&display=swap');

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --comfort-white: #fcf9f4;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-even {
  justify-content: space-evenly;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-pad-left {
  padding-right: 10px;
}

.u-pad-right {
  padding-left: 10px;
}
.u-bold {
  font-weight: 600;
  letter-spacing: .05em;
}

.u-normal {
  font-weight: 300;
  letter-spacing: .05em;
}

.u-left-space {
  margin-left: 5px;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}