.Build-container {
  margin-top: 2.5%;
  height: auto;
  width: auto;
  border: 1px solid black;
  position: relative;
}

.Build-button {
  /* positioning of button */
  background-color: orange;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;

  /* shape of button */
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  box-shadow: 0 5px #999;

  /*  text inside button */
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}