/* place memory room here - debug */ 
.Create-container {
  height: 550px;
  margin-top: 0%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  position: relative;
}

.Create-canvas {
  /* background: url(../../../dist/default_backgrounds/kitchen4.png) no-repeat; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 75%;
  top: 50px;
  bottom: 0;
  left: 0;
  border: 1px solid blue;
  position: absolute;
}

/* place side bar to track items placed here */ 
.Create-log {
  display: inline-block;
  width: 25%;
  top: 50px;
  bottom: 0;
  right: 0;
  border: 1px solid red;
  position: absolute;

  overflow-y: auto;
}

.Create-logHeader {
  height: 20px;
}

.uploadBar {
  position: absolute;
  top: 0px;
  left: 50px;
}

.resize-drag, .draggable {
  touch-action: none;
  position: absolute;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.draggableNumber {
  background-color: #29e;
  color: white;
  border-radius: 50%;

  /* size of number */ 
  font-size: 20px;
  text-align: center;
  line-height: 50px;

  /* size of number node */
  height: 50px;
  width: 50px;
}

.draggableImage {
  background-color: #29e;
  color: white;
  border-radius: 50%;

  font-size: 20px;
  font-family: sans-serif;

  height: 50px;
  width: 50px;
}

#drag-1, #drag-2 {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#items {
  width: 150px;
  position: relative;
}

.Create-button {
  /* positioning of button */
  background-color: orange;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;

  /* shape of button */
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  box-shadow: 0 5px #999;

  /*  text inside button */
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/*
button:hover {background-color: darkorange};
button:active {
  background-color: darkorange;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
*/
