body {
  /* Set default background color: Comfort White */
  background-color: #fcf9f4;
  height: 100vh;
  cursor: url(../../../../images/mouse-cursor.svg), pointer;
}

/* Define skeleton font style */ 
.Skeleton-title {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* Sub-sections of the Home page */
  .Skeleton-header {
    /* position */
    display: flex; justify-content: center;
    padding-top: 200px;
    height: 800px;
    /* style: carrot orange */
    color: #e99037;
    background-color: #fcf9f4;
  }

  .Skeleton-background-info {
    /* position */
    display: flex; justify-content: center; text-align: center;
    padding-top: 400px;
    height: 600px;
    /* style: cosmic latte */
    color: #eb9540;
    background-color: #fff8e7;
  }

  .Skeleton-feature {
    /* position */
    display: flex; justify-content: center; text-align: center;
    padding-top: 400px;
    height: 600px;
    /* style: comfort white */
    color: #e99037;
    background-color: #fcf9f4;
  }

  .Skeleton-example {
    /* position */
    display: flex; justify-content: center; text-align: center;
    padding-top: 400px;
    height: 600px;
    /* Color: light green - triad colors */
    color: #e99037;
    background-color: #e5fdf1;
  }

  .Skeleton-footer {
    /* position */
    display: flex; justify-content: center; text-align: center;
    padding-top: 400px;
    height: 600px;
    /* Color: light orange */
    color: #e99037;
    background-color: #fdf7e5;
  }

/* ANIMATION */     /* ANIMATION */     /* ANIMATION */     /* ANIMATION */     /* ANIMATION */

/* Cursor effect */ 
.Skeleton-cursor {width: 20px; height: 20px; border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate
}

.Skeleton-cursor::after {content: ''; width: 20px; height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5s;
  top: -8px;
  left: -8px;
}

/* Typing effect */
.type-effect {
  overflow: hidden; /* Hide contents before animation finishes */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(20, end),
    blink-caret 0.6s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* Wave effect */
section .wave {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  background: url('https://cdn.pixabay.com/photo/2019/10/12/14/21/postit-4543989_960_720.png');
  background-size: 20%;
  animation: wave 50s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 500px;
  }
}

/* Fire effect */ 
.wrapper {height: 800px; display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.red {width: 80px; height: 80px;
  background: orangered;
  box-shadow: 0px 0px 10px 5px orangered;
}

.orange {left: 10px; width: 60px; height: 60px;
  background: orange;
  box-shadow: 0px 0px 12px 6px orange;
}

.gold {left: 18px;  width: 45px; height: 45px;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.white {left: 22px; width: 35px; height: 35px;
  background: lightyellow;
  box-shadow: 0px 0px 9px 4px lightyellow;
}

.black {left: 40px; width: 1px; height: 1px; bottom: -10px;
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

.base {
  border-radius: 50%;
  position: absolute;
}

.flame-wrapper {
  position: relative;
  animation: flicker 1s ease-in infinite;
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 0%;
  transform: rotate(-45deg);
}

@keyframes flicker {
  0% {transform: rotate(-1deg);}
  20% {transform: rotate(2deg), scaleY(1.05);}
  40% {transform: rotate(-1deg);}
  60% {transform: rotate(1deg);}
  80% {transform: rotate(0.5deg), scaleY(0.90);}
}