.BackgroundItem-holder {
  height: 200px;
  width: 400px;
  margin: 10px;

  position: relative;
  display: inline-block;

  border: 1px solid red;
}

.BackgroundItem-image {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  position: absolute;
}