.ListItem-holder {
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  position: absolute;
}


.ListItem-number {
  width: 10%;

  font-size: 40px;
  left: 2.5%;
  position: absolute
}

.ListItem-image {
  height: 100%;
  left: 12.5%;
  width: auto;
  position: absolute;
}

.ListItem-name {
  top: 5%;
  text-align: left;
  right: 0;
  left: 27.5%;
  position: absolute;
}