.NavBar-container {  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: black;
}

.NavBar-logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.NavBar-title {
  display: flex;
  color: white;
  font-size: 30px; 
}

.NavBar-linkContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: var(--l);
}

.NavBar-link {
  color: white;
  text-decoration: none;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-login {
  opacity: 1;
}
