.NavBar-container {  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: black;
  position: sticky;
  top:20px;
  z-index:999;
}

.NavBar-logo{
  height: 40px;
  margin: 15px 0px 0px -45px;
  float:left;
  border-radius: 50%;
}

.NavBar-title {
  display: flex;
  color: white;
  font-size: 30px; 
}

.NavBar-linkContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: var(--l);
}

.NavBar-link {
  color: white;
  text-decoration: none;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-login {
  opacity: 1;
}
