.SortableComponent-listItem {
  height: 50px;
  width: 80%;

  position: relative;

  border: 2px solid green;
}

#items {
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;

  border: 1px solid orange;
}